.container-fluid{

}

.nav-link{

    color: #1B2936;
}

.text1{
    font-size: 600%;

font-family: 'Yesteryear', cursive;

color:#81d4fa;

}


.text2{
        font-size: 100%;

    color: #d7bce8;
}

.text3{
    font-size:300%;
    color:#adf7b6  ;

}

.text4{
    font-size:200%;
    color:#90caf9  ;

}

.text5{
    font-size:150%;
    color:#90caf9  ;

}

.text6{
    font-size:100%;
    color:#90caf9  ;

}

.text7{
    font-size:300%;
    color:#adf7b6;
}

.text8{
    font-size:300%;
    color:#adf7b6;
}

.text9{
    font-size:200%;
    color:#90caf9  ;

}

.text10{
    font-size:150%;
    color:#90caf9  ;

}

.text11{
    font-size:100%;
    color:#90caf9  ;

}

